
<p>Besides <a href='/' title='Report Your Building'>reporting your building</a>, there are many ways to promote and participate in recycling in your 5+-unit building:</p>

<h3>Drop it off</h3>

<p>Take your recycling to the <a href='https://www.denvergov.org/Government/Agencies-Departments-Offices/Agencies-Departments-Offices-Directory/Recycle-Compost-Trash/Recycle#section-2'>Cherry Creek Dropoff</a></p>

<h3>Learn how to recycle</h3>
<p>
  The City of Denvers's <a href="https://www.denvergov.org/Government/Agencies-Departments-Offices/Agencies-Departments-Offices-Directory/Recycle-Compost-Trash/Recycle#section-3">website</a> lists which materials can be recycled.
</p>
